/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: MINIMAP2_ALIGN_MINIASM {
        ext.args   = '-x ava-ont'
        maxRetries = 2
        memory     = { 200.GB * task.attempt }
    }

    withName: MINIASM {
        ext.args = [
            params.miniasm_min_overlap ? "-s ${params.miniasm_min_overlap}" : "",
            params.miniasm_min_coverage ? "-c ${params.miniasm_min_coverage}" : "",
        ].join(' ').strip()
    }

    withName: MINIMAP2_ALIGN_RACON {
        ext.args   = '-x map-ont'
        maxRetries = 3
    }

    withName: PORECHOP_PORECHOP {
        maxRetries = 3
        memory     = { 64.GB * task.attempt }
    }

    withName: FLYE {
        publishDir    = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.fasta.gz",
        ]
        errorStrategy = { task.exitStatus == 1 ?: 'ignore' }
        maxRetries    = 2
        ext.args      = "--meta"
    }

    withName: PIGZ_UNCOMPRESS_FLYE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.gfa",
        ]
    }

    withName: PIGZ_UNCOMPRESS_MINIASM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.gfa",
        ]
    }

    withName: RACON {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.fasta.gz",
        ]
    }

    withName: MEGAHIT {
        publishDir    = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.contigs.fa.gz",
        ]
        ext.args      = { "-m ${task.memory.toBytes()}" + "--presets meta-sensitive " }
        maxRetries    = 1
        errorStrategy = { task.attempt == 1 ? task.exitStatus in ((130..145) + 104 + 175 + 250) ? 'retry' : 'terminate' : 'ignore' }
    }

    withName: MEGAHIT_FASTG {
        errorStrategy = { task.exitStatus == 1 ? 'ignore' : 'terminate' }
        publishDir    = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.fastg",
        ]
    }

    withName: SPADES {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{contigs.fasta.gz,assembly.gfa.gz}",
        ]
        ext.args   = "--meta"
    }

    withName: MAPTIDE_PILEUP {
        maxRetries = 3
    }

    withName: BANDAGE_IMAGE {
        publishDir    = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{.png,.svg}",
        ]
        errorStrategy = { task.exitStatus == 1 ? 'ignore' : task.exitStatus == 134 ? 'retry' : 'terminate' }
        maxRetries    = 3
        ext.args      = "--height 10000"
    }

    withName: METABAT2_METABAT2 {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/contig_bins/" },
            mode: params.publish_dir_mode,
        ]
        ext.args   = [
            params.contig_min_length < 1500 ? "-m 1500" : "-m ${params.contig_min_length}",
            "--unbinned",
            "--seed ${params.metabat_rng_seed}",
        ].join(' ').trim()
    }

    withName: KRAKEN2_KRAKEN2 {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
        maxForks   = 3
    }

    withName: KRAKEN2_CLIENT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
        maxForks   = 3
    }

    withName: AMRFINDERPLUS_UPDATE {
        storeDir = "${params.store_dir}"
    }

    withName: AMRFINDERPLUS_RUN {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.endsWith(".tsv") ? filename.replace(".tsv", ".amrfinderplus.tsv") : filename },
        ]
    }

    withName: TAXONKIT_LINEAGE {
        ext.args = ["--show-lineage-taxids", "--taxid-field 3", "--show-lineage-ranks"].join(' ').strip()
    }

    withName: CALCULATE_PER_TAXON_DIVERSITY {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: CHOPPER {
        ext.args2 = [
            params.ont_min_quality ? "--quality ${params.ont_min_quality}" : "",
            params.ont_max_quality ? "--maxqual ${params.ont_max_quality}" : "",
            params.ont_min_length ? "--minlength ${params.ont_min_length}" : "",
            params.ont_max_length ? "--maxlength ${params.ont_max_length}" : "",
            params.ont_trim_start_bases ? "--headcrop ${params.ont_trim_start_bases}" : "",
            params.ont_trim_end_bases ? "--tailcrop ${params.ont_trim_end_bases}" : "",
        ].join(' ').strip()
    }

    withName: DIVERSITY_METRIC_PLOT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*diversity_metric_plot.html",
        ]
    }

    withName: DIVERSITY_METRICS {
        maxRetries = 3
    }

    withName: METAMDBG_ASM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{.fasta.gz,.gfa.gz}",
        ]
    }

    withName: BUSCO_BUSCO {
        publishDir    = [
            path: { "${params.outdir}/${meta.id}/binned_contigs/" },
            mode: params.publish_dir_mode,
        ]
        errorStrategy = { task.exitStatus == 1 ? 'ignore' : 'terminate' }
    }

    withName: GTDBTK_CLASSIFYWF {
        ext.args   = { "--extension fa.gz --pplacer_cpus ${task.cpus}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/gtdbtk_classify/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: GENOMAD_DOWNLOAD {
        storeDir = "${params.store_dir}"
    }

    withName: GENOMAD_ENDTOEND {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/genomad_output" },
            mode: params.publish_dir_mode,
        ]
    }
}
