/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: MINIMAP2_ALIGN_MINIASM {
        ext.args   = '-x ava-ont'
        maxRetries = 2
        memory     = { 200.GB * task.attempt }
    }

    withName: MINIMAP2_ALIGN_RACON {
        ext.args   = '-x map-ont'
        maxRetries = 3
    }

    withName: PORECHOP_PORECHOP {
        maxRetries = 3
        memory     = { 64.GB * task.attempt }
    }

    withName: FLYE {
        publishDir    = [
            path: { "${params.outdir}/${meta.id}/contigs" },
            mode: params.publish_dir_mode,
            pattern: "*.fasta.gz",
        ]
        errorStrategy = { task.exitStatus == 1 ? 'ignore' : 'terminate' }
        ext.args      = "--meta"
    }

    withName: PIGZ_UNCOMPRESS_FLYE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly_graph" },
            mode: params.publish_dir_mode,
            pattern: "*.gfa",
        ]
    }

    withName: PIGZ_UNCOMPRESS_MINIASM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly_graph" },
            mode: params.publish_dir_mode,
            pattern: "*.gfa",
        ]
    }

    withName: RACON {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/contigs" },
            mode: params.publish_dir_mode,
            pattern: "*.fasta.gz",
        ]
    }

    withName: MEGAHIT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/contigs" },
            mode: params.publish_dir_mode,
            pattern: "*.contigs.fa.gz",
        ]
        ext.args   = "--presets meta-sensitive"
    }

    withName: MEGAHIT_FASTG {
        errorStrategy = { task.exitStatus == 1 ? 'ignore' : 'terminate' }
        publishDir    = [
            path: { "${params.outdir}/${meta.id}/assembly_graph" },
            mode: params.publish_dir_mode,
            pattern: "*.fastg",
        ]
    }

    withName: BANDAGE_IMAGE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bandage_images" },
            mode: params.publish_dir_mode,
            pattern: "*{.png,.svg}",
        ]
    }

    withName: METABAT2_METABAT2 {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/binned_contigs" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: KRAKEN2_KRAKEN2 {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/contig_classifications" },
            mode: params.publish_dir_mode,
        ]
        maxForks = 3
    }

    withName: KRAKEN2_CLIENT {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/contig_classifications" },
            mode: params.publish_dir_mode,
        ]
        maxForks = 3
    }

    withName: AMRFINDERPLUS_RUN {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/amrfinderplus_results/" },
            mode: params.publish_dir_mode,
        ]
    }
}
